
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Designer</title>
    <link rel="stylesheet" href="styles/mainpage/header.css">
</head>
<body>
    <header>
        <h1>Clothing Designer</h1>
        <nav>
            <ul>
                <li><a href="/pages/myTemplates.html">мої темплейти</a></li>
                <li><a href="/pages/createClothing.html">створення одягу</a></li>
                <li><a href="/pages/myClothes.html">мій одяг</a></li>
                <li><a href="/pages/aboutus.html">About us</a></li>
                <li><a href="/pages/contact.html">Contact </a></li>
            </ul>
        </nav>
    </header>
</body>
</html>